<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
    <Product 
    Id="{79583526-6AFC-4AB8-B9AE-5EF12842738D}" 
    Codepage="1252" 
    Language="1033" 
    Manufacturer="MSRA" 
    Name="Sora" 
    UpgradeCode="{82A6BB53-4606-4CC8-99F5-8294093B16D7}" 
    Version="1.0.0">
        
        <Package Id="7E7E4608-BE97-403e-AF78-42D51B930BE4" Compressed="no" InstallerVersion="200" Languages="1033" Manufacturer="MSIT" />
        
        <Binary Id="DefBannerBitmap" SourceFile=".\bitmap\DefBannerBitmap.bmp" />
        <Binary Id="UpFldrBtn" SourceFile=".\bitmap\UpFldrBtn.bmp" />
        <Binary Id="NewFldrBtn" SourceFile=".\bitmap\NewFldrBtn.bmp" />
        <CustomAction Id="DIRCA_TARGETDIR" Property="TARGETDIR" Value="[ProgramFilesFolder][Manufacturer]\[ProductName]" Execute="firstSequence" />
        <CustomAction Id="ERRCA_CANCELNEWERVERSION" Error="[VSDVERSIONMSG]" />
        <CustomAction Id="ERRCA_UIANDADVERTISED" Error="[VSDUIANDADVERTISED]" />
        <CustomAction Id="VSDCA_FolderForm_AllUsers" Property="FolderForm_AllUsers" Value="ALL" />
        
        <Directory Id="TARGETDIR" Name="SourceDir" />
        
        <Feature Id="DefaultFeature" ConfigurableDirectory="TARGETDIR" Level="1">
            <ComponentRef Id="WixExampleFileComponent" />
            
        </Feature>

        <FragmentRef Id='FragmentUI' />
        
        <Media Id="1" />
        <Property Id="ARPCONTACT" Value="MSIT" />
        <Property Id="NEWERPRODUCTFOUND" Secure="yes" />
        <Property Id="VSDNETURLMSG" Value="This setup requires the .NET Framework version [1].  Please install the .NET Framework and run this setup again.  The .NET Framework can be obtained from the web.  Would you like to do this now?" />
        <Property Id="VSDIISMSG" Value="This setup requires Internet Information Server 4.0 or higher and Windows NT 4.0, Windows 2000 or higher.  This setup cannot be installed on Windows 95, Windows 98, or Windows Me.  Please install Internet Information Server and run this setup again." />
        <Property Id="VSDUIANDADVERTISED" Value="This advertised application will not be installed because it might be unsafe. Contact your administrator to change the installation user interface option of the package to basic." />
        <Property Id="VSDNETMSG" Value="This setup requires the .NET Framework version [1].  Please install the .NET Framework and run this setup again." />
        <Property Id="VSDINVALIDURLMSG" Value="The specified path '[2]' is unavailable. The Internet Information Server might not be running or the path exists and is redirected to another machine. Please check the status of this virtual directory in the Internet Services Manager." />
        <Property Id="VSDVERSIONMSG" Value="Unable to install because a newer version of this product is already installed." />
        <Property Id="DefaultUIFont" Value="VsdDefaultUIFont.524F4245_5254_5341_4C45_534153783400" />
        <Property Id="FolderForm_AllUsers" Value="ME" />
        <Property Id="FolderForm_AllUsersVisible" Value="1" />
        <Property Id="MaintenanceForm_Action" Value="Repair" />
        <Property Id="ErrorDialog" Value="ErrorDialog" />
        <Property Id="SFF_UpFldrBtn" Value="UpFldrBtn" />
        <Property Id="SFF_NewFldrBtn" Value="NewFldrBtn" />
        <Property Id="AdminMaintenanceForm_Action" Value="Repair" />
        <Property Id="AdminWelcomeForm_NextArgs" Value="AdminFolderForm" />
        <Property Id="AdminFolderForm_PrevArgs" Value="AdminWelcomeForm" />
        <Property Id="AdminFolderForm_NextArgs" Value="AdminConfirmInstallForm" />
        <Property Id="AdminConfirmInstallForm_PrevArgs" Value="AdminFolderForm" />
        <Property Id="WelcomeForm_NextArgs" Value="FolderForm" />
        <Property Id="FolderForm_PrevArgs" Value="WelcomeForm" />
        <Property Id="FolderForm_NextArgs" Value="ConfirmInstallForm" />
        <Property Id="ConfirmInstallForm_PrevArgs" Value="FolderForm" />
        
        <Upgrade Id="{82A6BB53-4606-4CC8-99F5-8294093B16D7}">
            <UpgradeVersion Minimum="1.0.0" Property="NEWERPRODUCTFOUND" OnlyDetect="yes" IncludeMinimum="yes" />
        </Upgrade>
        <InstallExecuteSequence>
            <Custom Action="ERRCA_CANCELNEWERVERSION" Sequence="201">NEWERPRODUCTFOUND AND NOT Installed</Custom>
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <LaunchConditions Sequence="400">NOT Installed</LaunchConditions>
            <FindRelatedProducts Sequence="200" />
            <AppSearch Sequence="100" />
            <CCPSearch Sequence="500">NOT Installed</CCPSearch>
            <RMCCPSearch Sequence="600">NOT Installed</RMCCPSearch>
            <ValidateProductID Sequence="700" />
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <IsolateComponents Sequence="950">RedirectedDllSupport</IsolateComponents>
            <CostFinalize Sequence="1000" />
            <SetODBCFolders Sequence="1100">NOT Installed</SetODBCFolders>
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <AllocateRegistrySpace Sequence="1550">NOT Installed</AllocateRegistrySpace>
            <ProcessComponents Sequence="1600" />
            <UnpublishComponents Sequence="1700" />
            <UnpublishFeatures Sequence="1800" />
            <StopServices Sequence="1900">VersionNT</StopServices>
            <DeleteServices Sequence="2000">VersionNT</DeleteServices>
            <UnregisterComPlus Sequence="2100" />
            <SelfUnregModules Sequence="2200" />
            <UnregisterTypeLibraries Sequence="2300" />
            <RemoveODBC Sequence="2400" />
            <UnregisterFonts Sequence="2500" />
            <RemoveRegistryValues Sequence="2600" />
            <UnregisterClassInfo Sequence="2700" />
            <UnregisterExtensionInfo Sequence="2800" />
            <UnregisterProgIdInfo Sequence="2900" />
            <UnregisterMIMEInfo Sequence="3000" />
            <RemoveIniValues Sequence="3100" />
            <RemoveShortcuts Sequence="3200" />
            <RemoveEnvironmentStrings Sequence="3300" />
            <RemoveDuplicateFiles Sequence="3400" />
            <RemoveFiles Sequence="3500" />
            <RemoveFolders Sequence="3600" />
            <CreateFolders Sequence="3700" />
            <MoveFiles Sequence="3800" />
            <InstallFiles Sequence="4000" />
            <DuplicateFiles Sequence="4210" />
            <PatchFiles Sequence="4090" />
            <BindImage Sequence="4300" />
            <CreateShortcuts Sequence="4500" />
            <RegisterClassInfo Sequence="4600" />
            <RegisterExtensionInfo Sequence="4700" />
            <RegisterProgIdInfo Sequence="4800" />
            <RegisterMIMEInfo Sequence="4900" />
            <WriteRegistryValues Sequence="5000" />
            <WriteIniValues Sequence="5100" />
            <WriteEnvironmentStrings Sequence="5200" />
            <RegisterFonts Sequence="5300" />
            <InstallODBC Sequence="5400" />
            <RegisterTypeLibraries Sequence="5500" />
            <SelfRegModules Sequence="5600" />
            <RegisterComPlus Sequence="5700" />
            <InstallServices Sequence="5800">VersionNT</InstallServices>
            <StartServices Sequence="5900">VersionNT</StartServices>
            <RegisterUser Sequence="6000" />
            <RegisterProduct Sequence="6100" />
            <PublishComponents Sequence="6200" />
            <PublishFeatures Sequence="6300" />
            <PublishProduct Sequence="6400" />
            <InstallFinalize Sequence="6600" />
            <RemoveExistingProducts Sequence="6550" />
            <InstallExecute Sequence="6500" />
            <MsiPublishAssemblies Sequence="6250" />
            <MsiUnpublishAssemblies Sequence="1650" />
        </InstallExecuteSequence>
        <InstallUISequence>
            <Custom Action="ERRCA_UIANDADVERTISED" Sequence="5">ProductState=1</Custom>
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <Custom Action="VSDCA_FolderForm_AllUsers" Sequence="997">Installed="" AND NOT RESUME AND ALLUSERS=1</Custom>
            <Show Dialog="FatalErrorForm" OnExit="error">NOT HideFatalErrorForm</Show>
            <Show Dialog="UserExitForm" OnExit="cancel" />
            <Show Dialog="FinishedForm" OnExit="success" />
            <Show Dialog="ResumeForm" Sequence="998">Installed="" AND RESUME</Show>
            <Show Dialog="MaintenanceForm" Sequence="999">Installed&lt;&gt;""</Show>
            <Show Dialog="WelcomeForm" Sequence="1001">Installed="" AND NOT RESUME</Show>
            <Show Dialog="ProgressForm" Sequence="1299" />
            <LaunchConditions Sequence="400">NOT Installed</LaunchConditions>
            <AppSearch Sequence="100" />
            <CCPSearch Sequence="500">NOT Installed</CCPSearch>
            <RMCCPSearch Sequence="600">NOT Installed</RMCCPSearch>
            <ValidateProductID Sequence="700" />
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <IsolateComponents Sequence="950">RedirectedDllSupport</IsolateComponents>
            <CostFinalize Sequence="1000" />
            <ExecuteAction Sequence="1300" />
        </InstallUISequence>
        <AdminExecuteSequence>
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <CostFinalize Sequence="1000" />
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <InstallAdminPackage Sequence="3900" />
            <InstallFiles Sequence="4000" />
            <InstallFinalize Sequence="6600" />
        </AdminExecuteSequence>
        <AdminUISequence>
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <Show Dialog="AdminFatalErrorForm" OnExit="error" />
            <Show Dialog="AdminUserExitForm" OnExit="cancel" />
            <Show Dialog="AdminFinishedForm" OnExit="success" />
            <Show Dialog="AdminResumeForm" Sequence="998">Installed="" AND RESUME</Show>
            <Show Dialog="AdminMaintenanceForm" Sequence="999">Installed&lt;&gt;""</Show>
            <Show Dialog="AdminWelcomeForm" Sequence="1001">Installed="" AND NOT RESUME</Show>
            <Show Dialog="AdminProgressForm" Sequence="1299" />
            <CostInitialize Sequence="800" />
            <FileCost Sequence="900" />
            <CostFinalize Sequence="1000" />
            <ExecuteAction Sequence="1300" />
        </AdminUISequence>
        <AdvertiseExecuteSequence>
            <CostInitialize Sequence="800" />
            <CostFinalize Sequence="1000" />
            <Custom Action="DIRCA_TARGETDIR" Sequence="750">TARGETDIR=""</Custom>
            <InstallValidate Sequence="1400" />
            <InstallInitialize Sequence="1500" />
            <CreateShortcuts Sequence="4500" />
            <RegisterClassInfo Sequence="4600" />
            <RegisterExtensionInfo Sequence="4700" />
            <RegisterMIMEInfo Sequence="4900" />
            <RegisterProgIdInfo Sequence="4800" />
            <PublishComponents Sequence="6200" />
            <PublishFeatures Sequence="6300" />
            <PublishProduct Sequence="6400" />
            <InstallFinalize Sequence="6600" />
            <MsiPublishAssemblies Sequence="6250" />
        </AdvertiseExecuteSequence>
    </Product>
</Wix>