###############################################################################
##  2007-2008 Xilinx, Inc. All Rights Reserved.
## Confidential and proprietary information of Xilinx, Inc.
###############################################################################
##   ____  ____ 
##  /   /\/   / 
## /___/  \  /   Vendor: Xilinx 
## \   \   \/    Version: 1.1
##  \   \        Filename: pcie_dma_top_x8_plus.ucf 
##  /   /        Date Last Modified: May. 15th, 2008  
## /___/   /\    Date Created: Apr. 1st, 2008
## \   \  /  \ 
##  \___\/\___\ 
##
## Device: Virtex-5 LXT
## Purpose: Endpoint Block Plus to DDR2 DMA Initiator User Constraints File
## Reference:  XAPP859
## Revision History:
##   Rev 1.0 - First created, Kraig Lund, Apr. 1 2008.
##   Rev 1.1 - Changed instance names of RX Engine Fifo Brams - necessary 
##             because the Fifo Generato LogiCore was updated to latest version
##             (Rev 4.3) May 15th, 2008
##             Removed CLK_0_FROM_MEM_CTRL_DCM pin (this was a debug pin and
##             was not necessary for the design to work properly. May29th, 2008
##
##   Modified by Jiansong Zhang:
##         PCIe x4, 125MHz user logic
##         133MHz DDR
##         work on RCBv1.1.3
##         plus warp radio
##
###############################################################################
# Define Device, Package And Speed Grade
###############################################################################
CONFIG PART = XC5VLX50T-FF1136-1;

###############################################################################
# User Time Names / User Time Groups / Time Specs
###############################################################################
###############################################################################
# User Physical Constraints
###############################################################################

###############################################################################
# Pinout and Related I/O Constraints
###############################################################################
#
# SYS reset (input) signal.  The sys_reset_n signal should be
# obtained from the PCI Express interface if possible.  For
# slot based form factors, a system reset signal is usually
# present on the connector.  For cable based form factors, a
# system reset signal may not be available.  In this case, the
# system reset signal must be generated locally by some form of
# supervisory circuit.  You may change the IOSTANDARD and LOC
# to suit your requirements and VCCO voltage banking rules.
#
#NET "sys_reset_n" LOC = AE14 | IOSTANDARD = "LVCMOS25" | PULLUP | NODELAY;
NET "sys_reset_n" LOC = K21 | IOSTANDARD = "LVCMOS33" | PULLUP | NODELAY;

#
# SYS clock 100 MHz (input) signal. The sys_clk_p and sys_clk_n
# signals are the PCI Express reference clock. Virtex-5 GTP
# Transceiver architecture requires the use of a dedicated clock
# resources (FPGA input pins) associated with each GTP Transceiver Tile.
# To use these pins an IBUFDS primitive (refclk_ibuf) is
# instantiated in user's design.
# Please refer to the Virtex-5 GTP Transceiver User Guide
# (UG196) for guidelines regarding clock resource selection.
#
NET  "pcie_sys_clk_p"       LOC = "Y4"  ; #KL: changed the name from sys_clk_p
NET  "pcie_sys_clk_n"       LOC = "Y3"  ; #KL: changed the name from sys_clk_n
INST "refclk_ibuf"     DIFF_TERM = "TRUE" ;

#
# Transceiver instance placement.  This constraint selects the
# transceivers to be used, which also dictates the pinout for the
# transmit and receive differential pairs.  Please refer to the
# Virtex-5 GTP Transceiver User Guide (UG196) for more
# information.
#
#KL: changed the ordering of the GTP LOCs to match the ML555
# PCIe Lanes 0, 1
INST "ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[0].GT_i" LOC = GTP_DUAL_X0Y3;

# PCIe Lanes 2, 3
INST "ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[2].GT_i" LOC = GTP_DUAL_X0Y2;

# PCIe Lanes 4, 5
#INST "ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[4].GT_i" LOC = GTP_DUAL_X0Y1;

# PCIe Lanes 6, 7
#INST "ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/GTD[6].GT_i" LOC = GTP_DUAL_X0Y0;

###############################################################################
# Physical Constraints
###############################################################################
#
# BlockRAM placement
#
INST "ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y9 ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[1].ram_tdp2_inst" LOC = RAMB36_X1Y8 ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_tx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y7 ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_tl_rx/generate_tdp2[0].ram_tdp2_inst" LOC = RAMB36_X1Y6 ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk/pcie_mim_wrapper_i/bram_retry/generate_sdp.ram_sdp_inst"      LOC = RAMB36_X1Y5 ;

#
# Timing critical placements
#
INST "ep/BU2/U0/pcie_ep0/pcie_blk_if/ll_bridge/tx_bridge/tx_bridge/shift_pipe1" LOC = "SLICE_X59Y36" ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk_if/ll_bridge/rx_bridge/arb_inst/completion_available" LOC = "SLICE_X58Y26" ;
INST "ep/BU2/U0/pcie_ep0/pcie_blk_if/cf_bridge/management_interface/mgmt_rdata_d1_3" LOC = "SLICE_X59Y25" ;

###############################################################################
# Timing Constraints
###############################################################################
#
# Timing requirements and related constraints.
#
NET "sys_clk_c"                                      PERIOD = 10ns;

NET "ep/BU2/U0/pcie_ep0/pcie_blk/SIO/.pcie_gt_wrapper_i/gt_refclk_out[0]" TNM_NET = "MGTCLK" ;

TIMESPEC "TS_MGTCLK"  = PERIOD "MGTCLK" 100.00 MHz HIGH 50 % ;

###############################################################################
# End of contraints from Endpoint Block Plus
###############################################################################
###################################################
##  Additional Timing Constraints
###################################################
## SYS_CLK is the DDR2 clock - 200 MHz
#NET "ddr2_cntrl_inst/u_infrastructure/sys_clk_ibufg" TNM_NET =  "SYS_CLK";
NET "ddr2_cntrl_inst/u_infrastructure/sys_clk" TNM_NET =  "SYS_CLK";
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 5 ns HIGH 50 %;
TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 7.5 ns HIGH 50 %;
## SYS_CLK_200 is for the idelay - 200 MHz
NET "ddr2_cntrl_inst/u_infrastructure/clk200_ibufg" TNM_NET = "SYS_CLK_200";
TIMESPEC "TS_SYS_CLK_200" = PERIOD "SYS_CLK_200" 5 ns HIGH 50 %; 
#TIMESPEC "TS_SYS_CLK_200" = PERIOD "SYS_CLK_200" 7.5 ns HIGH 50 %; 

# timing constrain for radio
NET "WARP_radio_module_inst/data_clk" TNM_NET = "RADIO_DATA_CLK";
TIMESPEC "TS_RADIO_DATA_CLK" = PERIOD "RADIO_DATA_CLK" 20ns HIGH 50%;

## timing constrain for Sora_radio_interpretation, needed if abstrated radio registers are used
#NET "Sora_Radio_Interpretation_for_WARP_inst/clk" TNM_NET = "SORA_RADIO_INTERPRETATION_CLK";
#TIMESPEC "TS_SORA_RADIO_INTERPRETATION_CLK" = PERIOD "SORA_RADIO_INTERPRETATION_CLK" 20ns HIGH 50%;
#
## timing constrain for Channel_radio_interpretation, needed if abstrated radio registers are used
#NET "Channel_Radio_Interpretation_for_WARP_inst/clk" TNM_NET = "Channel_RADIO_INTERPRETATION_CLK";
#TIMESPEC "TS_Channel_RADIO_INTERPRETATION_CLK" = PERIOD "Channel_RADIO_INTERPRETATION_CLK" 20ns HIGH 50%;

# timing constrain for spi
NET "WARP_radio_module_inst/spi_clk" TNM_NET = "RADIO_SPI_CLK";
TIMESPEC "TS_RADIO_SPI_CLK" = PERIOD "RADIO_SPI_CLK" 80ns HIGH 50%;

# timing constrain for posted packet scheduler
NET "pcie_dma_wrapper_inst/posted_pkt_gen_inst/posted_pkt_scheduler_inst/clk" TNM_NET = "POSTED_CLK";
TIMESPEC "TS_POSTED_CLK" = PERIOD "POSTED_CLK" 8ns HIGH 50%;

# timing constrain for pcie_dma_wrapper
NET "pcie_dma_wrapper_inst/clk" TNM_NET = "PCIE_DMA_CLK";
TIMESPEC "TS_PCIE_DMA_CLK" = PERIOD "PCIE_DMA_CLK" 8ns HIGH 50%;

## Multi-cycle paths
#Multi-cycle paths for tx_trn_sm adder/subtractor
INST "pcie_dma_wrapper_inst/rx_engine_inst/rx_trn_monitor_inst/dma*_div8_reg*" TNM=FFS "TNM_DMARDIV8_REG_SRC";
INST "pcie_dma_wrapper_inst/rx_engine_inst/rx_trn_monitor_inst/dma*_div8_now*"     TNM=FFS "TNM_DMARDIV8_NOW_SRC";
INST "pcie_dma_wrapper_inst/rx_engine_inst/rx_trn_monitor_inst/addsub_state*"      TNM=FFS "TNM_RADDSUB_STATE_SRC";
TIMEGRP "DMARDIV8_2X_SRC" = "TNM_DMARDIV8_REG_SRC"  "TNM_DMARDIV8_NOW_SRC" "TNM_RADDSUB_STATE_SRC";
INST "pcie_dma_wrapper_inst/rx_engine_inst/rx_trn_monitor_inst/dma*_div8_reg_new*" TNM=FFS "TNM_DMARDIV8_REGNEW_DEST";
TIMESPEC "TS_DMARDIV8_2X" = FROM "DMARDIV8_2X_SRC" TO "TNM_DMARDIV8_REGNEW_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

#Multi-cycle paths for tx_trn_sm adder/subtractor
##INST "pcie_dma_wrapper_inst/tx_engine_inst/tx_trn_sm_inst/dma*_div8_reg*" TNM=FFS "TNM_DMAWDIV8_REG_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/tx_trn_sm_inst/dma*_div8_now*"     TNM=FFS "TNM_DMAWDIV8_NOW_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/tx_trn_sm_inst/addsub_state*"      TNM=FFS "TNM_WADDSUB_STATE_SRC";
##TIMEGRP "DMAWDIV8_2X_SRC" = "TNM_DMAWDIV8_REG_SRC"  "TNM_DMAWDIV8_NOW_SRC" "TNM_WADDSUB_STATE_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/tx_trn_sm_inst/dma*_div8_reg_new*" TNM=FFS "TNM_DMAWDIV8_REGNEW_DEST";
##TIMESPEC "TS_DMAWDIV8_2X" = FROM "DMAWDIV8_2X_SRC" TO "TNM_DMAWDIV8_REGNEW_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

#Multi-cycle paths for posted slicer adder
##INST "pcie_dma_wrapper_inst/tx_engine_inst/posted_pkt_gen_inst/posted_pkt_slicer_inst/four_kb_xfer*" TNM=FFS "TNM_PFKB_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/posted_pkt_gen_inst/posted_pkt_slicer_inst/dma*_reg*" TNM=FFS "TNM_PDMAREG_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/posted_pkt_gen_inst/posted_pkt_slicer_inst/state*" TNM=FFS "TNM_PSTATE_SRC";
##TIMEGRP "POSTED_2X_SRC" = "TNM_PFKB_SRC" "TNM_PDMAREG_SRC" "TNM_PSTATE_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/posted_pkt_gen_inst/posted_pkt_slicer_inst/dma*_new*" TNM=FFS "TNM_PDMANEW_DEST";
##TIMESPEC "TS_POSTED_2X" = FROM "POSTED_2X_SRC" TO "TNM_PDMANEW_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

#Multi-cycle paths for non-posted slicer adder
##INST "pcie_dma_wrapper_inst/tx_engine_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/four_kb_xfer*" TNM=FFS "TNM_NFKB_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/dma*_reg*" TNM=FFS "TNM_NDMAREG_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/state*" TNM=FFS "TNM_NSTATE_SRC";
##TIMEGRP "NONPOSTED_2X_SRC" = "TNM_NFKB_SRC" "TNM_NDMAREG_SRC" "TNM_NSTATE_SRC";
##INST "pcie_dma_wrapper_inst/tx_engine_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/dma*_new*" TNM=FFS "TNM_NDMANEW_DEST";
##TIMESPEC "TS_NONPOSTED_2X" = FROM "NONPOSTED_2X_SRC" TO "TNM_NDMANEW_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle
INST "pcie_dma_wrapper_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/four_kb_xfer*" TNM=FFS "TNM_NFKB_SRC";
INST "pcie_dma_wrapper_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/dma*_reg*" TNM=FFS "TNM_NDMAREG_SRC";
INST "pcie_dma_wrapper_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/state*" TNM=FFS "TNM_NSTATE_SRC";
TIMEGRP "NONPOSTED_2X_SRC" = "TNM_NFKB_SRC" "TNM_NDMAREG_SRC" "TNM_NSTATE_SRC";
INST "pcie_dma_wrapper_inst/non_posted_pkt_gen_inst/non_posted_pkt_slicer_inst/dma*_new*" TNM=FFS "TNM_NDMANEW_DEST";
TIMESPEC "TS_NONPOSTED_2X" = FROM "NONPOSTED_2X_SRC" TO "TNM_NDMANEW_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

# Multi-cycle paths for large xfers shim adder
##INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/state_1*" TNM=FFS "TNM_STATE_1_SRC";
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/state_3*" TNM=FFS "TNM_STATE_3_SRC";
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/dma*_now*" TNM=FFS "TNM_DMANOW_SRC";
##TIMEGRP "LARGE_XFER_2X_SRC" = "TNM_STATE_1_SRC" "TNM_STATE_3_SRC" "TNM_DMANOW_SRC";
TIMEGRP "LARGE_XFER_2X_SRC" = "TNM_STATE_3_SRC" "TNM_DMANOW_SRC";
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/dma*_next*" TNM=FFS "TNM_DMANEXT_DEST";
TIMESPEC "TS_DMAREG_DMANEXT" = FROM "LARGE_XFER_2X_SRC" TO "TNM_DMANEXT_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

# Jiansong: added
# Multi-cycle paths for large xfers shim adder
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/TX_state_1*" TNM=FFS "TNM_TX_STATE_1_SRC";
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/TX_*_now*" TNM=FFS "TNM_TXNOW_SRC";
TIMEGRP "TX_LARGE_XFER_2X_SRC" = "TNM_TX_STATE_1_SRC" "TNM_TXNOW_SRC";
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst/dma_ctrl_status_reg_file_inst/TX_*_next*" TNM=FFS "TNM_TXNEXT_DEST";
TIMESPEC "TS_TXREG_TXNEXT" = FROM "TX_LARGE_XFER_2X_SRC" TO "TNM_TXNEXT_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

# Jiansong: added for poset_packet_scheduler
# Multi-cycle paths for posted scheduler adder
INST "pcie_dma_wrapper_inst/posted_pkt_gen_inst/posted_pkt_scheduler_inst/RXBuf*" TNM=FFS "TNM_NRXB_SRC";
INST "pcie_dma_wrapper_inst/posted_pkt_gen_inst/posted_pkt_scheduler_inst/dmawad_now*" TNM=FFS "TNM_NDWNW_SRC";
TIMEGRP "POSTED_2X_SRC" = "TNM_NRXB_SRC" "TNM_NDWNW_SRC";
INST "pcie_dma_wrapper_inst/posted_pkt_gen_inst/posted_pkt_scheduler_inst/dmawad_next*" TNM=FFS "TNM_NDWNT_DEST";
TIMESPEC "TS_POSTED_2X" = FROM "POSTED_2X_SRC" TO "TNM_NDWNT_DEST" "TS_MGTCLK"*1.25; ## 2/5 for 250MHz * 2 for multicycle

#Tig'ed nets - these are static signals
NET "trn_lnk_up_n_c" TIG;
NET "phy_init_initialization_done" TIG;

INST "max_read_req_reg*" TIG;
INST "max_pay_size_reg*" TIG;
INST "pcie_id_reg*" TIG;

################################################################################
# PIN Location and I/O STANDARDS
################################################################################
################################################################################
##
##  Global Clock inputs 
##  FPGA Bank 3: Vcco = 2.5 Volts 
##
## Note: Use DIFF_TERM attribute on LVDS clock inputs as the ML555 DOES NOT 
##       provide 100 ohm terminators on the circuit board assembly
################################################################################
NET  CLK200_P   LOC  =  J16 | DIFF_TERM = TRUE;  ## ICS1 PLL LVDS
NET  CLK200_N   LOC  =  J17 | DIFF_TERM = TRUE;  
NET "SYS_CLK_P" LOC = H14 | DIFF_TERM = TRUE;  ## ICS2 PLL LVDS
NET "SYS_CLK_N" LOC = H15 | DIFF_TERM = TRUE;  

# LEDs
# Indicates that the PCIe endpoint has successfully completed link training 
# with the downstream port connected to it
#NET "LED_link_up_and_phy_init_initialization_done_n" LOC = L21 | IOSTANDARD = "LVCMOS33";
#NET "Radio_LO_Lock_n" LOC = L20 | IOSTANDARD = "LVCMOS33";
NET "phy_init_initialization_done_n" LOC = L21 | IOSTANDARD = "LVCMOS33";
NET "LED_link_up_n" LOC = L20 | IOSTANDARD = "LVCMOS33";
NET "Radio_RX_blink" LOC = L15 | IOSTANDARD = "LVCMOS33"; 
NET "Radio_TX_n" LOC = L16 | IOSTANDARD = "LVCMOS33";
#NET "RXEnable_n" LOC = L21 | IOSTANDARD = "LVCMOS33"; 
#NET "LED_clock" LOC = L15 | IOSTANDARD = "LVCMOS33"; 
#NET "LED_clock_1" LOC = L16 | IOSTANDARD = "LVCMOS33";

#INST "RXEnable_n_OBUF" DRIVE = 24;
#INST "LED_link_up_and_phy_init_initialization_done_n_OBUF" DRIVE = 24;
#INST "Radio_LO_Lock_n_OBUF" DRIVE = 24;
INST "LED_link_up_n_OBUF" DRIVE = 24;
INST "DDR2_phy_init_n_OBUF" DRIVE = 24;
INST "Radio_RX_blink_OBUF" DRIVE = 24;
INST "Radio_TX_n_OBUF" DRIVE = 24;
#INST "LED_clock_OBUF" DRIVE = 24;
#INST "LED_clock_1_OBUF" DRIVE = 24;

#Clock ICS load
NET  "nPLOAD_1"                                       LOC = "K12" | IOSTANDARD = "LVCMOS33";
NET  "nPLOAD_2"                                       LOC = "K23" | IOSTANDARD = "LVCMOS33";

NET  "RF_DAC_SPI_SDO"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_SPI_SDI"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_SPI_CLK"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_SPI_CSB"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_RESET"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_I_DATA[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_DAC_Q_DATA[*]"				IOSTANDARD = LVCMOS25;
#NET  "RF_DAC_I_DATA[7]"				IOSTANDARD = LVCMOS25;
#NET  "RF_DAC_I_DATA[0]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[1]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[2]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[3]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[4]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[5]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[6]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[8]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[9]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[10]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[11]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[12]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[13]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[14]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_I_DATA[15]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[2]"				IOSTANDARD = LVCMOS25;
#NET  "RF_DAC_Q_DATA[10]"				IOSTANDARD = LVCMOS25;
#NET  "RF_DAC_Q_DATA[0]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[1]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[3]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[4]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[5]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[6]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[7]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[8]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[9]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[11]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[12]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[13]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[14]"				IOSTANDARD = LVCMOS33;
#NET  "RF_DAC_Q_DATA[15]"				IOSTANDARD = LVCMOS33;
NET  "RF_DAC_PLLLOCK"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_SLEEP"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_OTR"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_HIZ"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_CLK"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_CLAMP"				IOSTANDARD = LVCMOS25;
NET  "RF_RSSI_DATA[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_TXEN"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_RXEN"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_SHDN_N"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_RXHP"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_SPI_SDI"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_SPI_CSB"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_SPI_CLK"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_GAIN[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_RADIO_LD"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_PWDNA"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_PWDNB"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_OTRA"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_OTRB"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DFS"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DCS"				IOSTANDARD = LVCMOS25;
#NET  "RF_ADC_DATA_A[*]"				IOSTANDARD = LVCMOS25;
#NET  "RF_ADC_DATA_B[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[5]"				IOSTANDARD = LVCMOS25;				# must be LVCMOS25
NET  "RF_ADC_DATA_A[0]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[1]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[2]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[3]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[4]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[6]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[7]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[8]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[9]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[10]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[11]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[12]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_A[13]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[5]"				IOSTANDARD = LVCMOS25;				# must be LVCMOS25
NET  "RF_ADC_DATA_B[0]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[1]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[2]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[3]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[4]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[6]"				IOSTANDARD = LVCMOS33;			# must be LVCMOS33
NET  "RF_ADC_DATA_B[7]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[8]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[9]"				IOSTANDARD = LVCMOS33;			# must be LVCMOS33
NET  "RF_ADC_DATA_B[10]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[11]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[12]"				IOSTANDARD = LVCMOS25;
NET  "RF_ADC_DATA_B[13]"				IOSTANDARD = LVCMOS25;
#NET  "RF_DIPSW[*]"				IOSTANDARD = LVCMOS33;
NET  "RF_LED[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_CLK_N"					IOSTANDARD = LVCMOS25;			# single channel clock
NET  "RF_CLK_P"					IOSTANDARD = LVCMOS25;
#NET  "RF_CLK_N"					IOSTANDARD = LVDS_25;			# differential clock
#NET  "RF_CLK_P"					IOSTANDARD = LVDS_25;
NET  "RF_ANTSW[*]"				IOSTANDARD = LVCMOS25;
NET  "RF_5PA_EN_N"				IOSTANDARD = LVCMOS25;
NET  "RF_24PA_EN_N"				IOSTANDARD = LVCMOS25;

### these warp gpios allocation is different on RCBv1.0 and RCBv1.1.3
####   WARP on RCB v1.0   ###
#NET  "RF_DAC_SPI_SDO"					LOC = "P32";
#NET  "RF_DAC_SPI_SDI"					LOC = "L34";
#NET  "RF_DAC_SPI_CLK"					LOC = "H34";
#NET  "RF_DAC_SPI_CSB"					LOC = "U30";
#NET  "RF_DAC_RESET"					   LOC = "H30";
#NET  "RF_DAC_Q_DATA[15]"				LOC = "G6";
#NET  "RF_DAC_Q_DATA[14]"				LOC = "E6";
#NET  "RF_DAC_Q_DATA[13]"				LOC = "F5";
#NET  "RF_DAC_Q_DATA[12]"				LOC = "M7";
#NET  "RF_DAC_Q_DATA[11]"				LOC = "H7";
#NET  "RF_DAC_Q_DATA[10]"				LOC = "T9";
#NET  "RF_DAC_Q_DATA[9]"					LOC = "T10";
#NET  "RF_DAC_Q_DATA[8]"					LOC = "R11";
#NET  "RF_DAC_Q_DATA[7]"					LOC = "R9";
#NET  "RF_DAC_Q_DATA[6]"					LOC = "T8";
#NET  "RF_DAC_Q_DATA[5]"					LOC = "N8";
#NET  "RF_DAC_Q_DATA[4]"					LOC = "R7";
#NET  "RF_DAC_Q_DATA[3]"					LOC = "U32";
#NET  "RF_DAC_Q_DATA[2]"					LOC = "T33";
#NET  "RF_DAC_Q_DATA[1]"					LOC = "P34";
#NET  "RF_DAC_Q_DATA[0]"					LOC = "R33";
#NET  "RF_DAC_PLLLOCK"					LOC = "H5";
#NET  "RF_DAC_I_DATA[15]"				LOC = "J6";
#NET  "RF_DAC_I_DATA[14]"				LOC = "G8";
#NET  "RF_DAC_I_DATA[13]"				LOC = "F9";
#NET  "RF_DAC_I_DATA[12]"				LOC = "E9";
#NET  "RF_DAC_I_DATA[11]"				LOC = "F10";
#NET  "RF_DAC_I_DATA[10]"				LOC = "F11";
#NET  "RF_DAC_I_DATA[9]"					LOC = "G11";
#NET  "RF_DAC_I_DATA[8]"					LOC = "B13";
#NET  "RF_DAC_I_DATA[7]"					LOC = "D12";
#NET  "RF_DAC_I_DATA[6]"					LOC = "H10";
#NET  "RF_DAC_I_DATA[5]"					LOC = "J10";
#NET  "RF_DAC_I_DATA[4]"					LOC = "K11";
#NET  "RF_DAC_I_DATA[3]"					LOC = "L10";
#NET  "RF_DAC_I_DATA[2]"					LOC = "M8";
#NET  "RF_DAC_I_DATA[1]"					LOC = "D11";
#NET  "RF_DAC_I_DATA[0]"					LOC = "A13";
#NET  "RF_RSSI_SLEEP"					LOC = "G32";
#NET  "RF_RSSI_OTR"					LOC = "K31";
#NET  "RF_RSSI_HIZ"					LOC = "E32";
#NET  "RF_RSSI_DATA[9]"					LOC = "L33";
#NET  "RF_RSSI_DATA[8]"					LOC = "N33";
#NET  "RF_RSSI_DATA[7]"					LOC = "K33";
#NET  "RF_RSSI_DATA[6]"					LOC = "G33";
#NET  "RF_RSSI_DATA[5]"					LOC = "C32";
#NET  "RF_RSSI_DATA[4]"					LOC = "B32";
#NET  "RF_RSSI_DATA[3]"					LOC = "B33";
#NET  "RF_RSSI_DATA[2]"					LOC = "C34";
##NET  "RF_RSSI_DATA[1]"					LOC = "K18";    //disable this pin, it's a PCB bug, voltage for this bank is 2.5v when this IO requires 3.3V
#NET  "RF_RSSI_DATA[0]"					LOC = "F33";
#NET  "RF_RSSI_CLK"					LOC = "P31";
#NET  "RF_RSSI_CLAMP"					LOC = "J32";
#NET  "RF_RADIO_TXEN"					LOC = "N29";
#NET  "RF_RADIO_RXEN"					LOC = "J30";
#NET  "RF_RADIO_SHDN_N"					LOC = "L30";
#NET  "RF_RADIO_RXHP"					LOC = "E29";
#NET  "RF_RADIO_SPI_SDI"					LOC = "L29";
#NET  "RF_RADIO_SPI_CSB"					LOC = "F31";
#NET  "RF_RADIO_SPI_CLK"					LOC = "R28";
#NET  "RF_RADIO_LD"					LOC = "G30";
#NET  "RF_RADIO_GAIN[6]"					LOC = "M28";
#NET  "RF_RADIO_GAIN[5]"					LOC = "K28";
#NET  "RF_RADIO_GAIN[4]"					LOC = "AD32";
#NET  "RF_RADIO_GAIN[3]"					LOC = "U33";
#NET  "RF_RADIO_GAIN[2]"					LOC = "V32";
#NET  "RF_RADIO_GAIN[1]"					LOC = "W34";
#NET  "RF_RADIO_GAIN[0]"					LOC = "Y32";
#NET  "RF_LED[2]"					LOC = "AN32";
#NET  "RF_LED[1]"					LOC = "AN34";
#NET  "RF_LED[0]"					LOC = "AM33";
#NET  "RF_CLK_N"						LOC = "W9";
#NET  "RF_CLK_P"						LOC = "W10";
##NET  "RF_DIPSW[3]"					LOC = "";
##NET  "RF_DIPSW[2]"					LOC = "";
##NET  "RF_DIPSW[1]"					LOC = "";
##NET  "RF_DIPSW[0]"					LOC = "";
#NET  "RF_ANTSW[1]"					LOC = "AH34";
#NET  "RF_ANTSW[0]"					LOC = "AJ32";
#NET  "RF_ADC_PWDNA"					LOC = "AF33";
#NET  "RF_ADC_PWDNB"					LOC = "P7";
#NET  "RF_ADC_OTRA"					LOC = "AC32";
#NET  "RF_ADC_OTRB"					LOC = "AA6";
#NET  "RF_ADC_DFS"					LOC = "T31";
#NET  "RF_ADC_DCS"					LOC = "T28";
#NET  "RF_ADC_DATA_B[13]"				LOC = "AJ7";
#NET  "RF_ADC_DATA_B[12]"				LOC = "AC7";
#NET  "RF_ADC_DATA_B[11]"				LOC = "AD6";
#NET  "RF_ADC_DATA_B[10]"				LOC = "Y11";
#NET  "RF_ADC_DATA_B[9]"					LOC = "AB6";
#NET  "RF_ADC_DATA_B[8]"					LOC = "AK7";
#NET  "RF_ADC_DATA_B[7]"					LOC = "V10";
#NET  "RF_ADC_DATA_B[6]"					LOC = "AE7";
#NET  "RF_ADC_DATA_B[5]"					LOC = "V8";
#NET  "RF_ADC_DATA_B[4]"					LOC = "K7";
#NET  "RF_ADC_DATA_B[3]"					LOC = "M6";
#NET  "RF_ADC_DATA_B[2]"					LOC = "L4";
#NET  "RF_ADC_DATA_B[1]"					LOC = "N5";
#NET  "RF_ADC_DATA_B[0]"					LOC = "R6";
#NET  "RF_ADC_DATA_A[13]"				LOC = "AC33";
#NET  "RF_ADC_DATA_A[12]"				LOC = "AC34";
#NET  "RF_ADC_DATA_A[11]"				LOC = "AF34";
#NET  "RF_ADC_DATA_A[10]"				LOC = "AG32";
#NET  "RF_ADC_DATA_A[9]"					LOC = "AG33";
#NET  "RF_ADC_DATA_A[8]"					LOC = "W7";
#NET  "RF_ADC_DATA_A[7]"					LOC = "Y8";
#NET  "RF_ADC_DATA_A[6]"					LOC = "AH5";
#NET  "RF_ADC_DATA_A[5]"					LOC = "AD4";
#NET  "RF_ADC_DATA_A[4]"					LOC = "AA5";
#NET  "RF_ADC_DATA_A[3]"					LOC = "W6";
#NET  "RF_ADC_DATA_A[2]"					LOC = "AC4";
#NET  "RF_ADC_DATA_A[1]"					LOC = "AG5";
#NET  "RF_ADC_DATA_A[0]"					LOC = "K8";
#NET  "RF_5PA_EN_N"					LOC = "AL34";
#NET  "RF_24PA_EN_N"					LOC = "AK34";

###   WARP on RCB v1.1.3   ###
NET  "RF_DAC_SPI_SDO"					LOC = "T34";
NET  "RF_DAC_SPI_SDI"					LOC = "V33";
NET  "RF_DAC_SPI_CLK"					LOC = "V34";
NET  "RF_DAC_SPI_CSB"					LOC = "W32";
NET  "RF_DAC_RESET"					   LOC = "P30";
NET  "RF_DAC_Q_DATA[15]"				LOC = "E11";
NET  "RF_DAC_Q_DATA[14]"				LOC = "G10";
NET  "RF_DAC_Q_DATA[13]"				LOC = "E8";
NET  "RF_DAC_Q_DATA[12]"				LOC = "F8";
NET  "RF_DAC_Q_DATA[11]"				LOC = "H8";
NET  "RF_DAC_Q_DATA[10]"				LOC = "H13"; ### FPGA 2.5V out to DAC 3.3V input pin, it should work
NET  "RF_DAC_Q_DATA[9]"					LOC = "L8";
NET  "RF_DAC_Q_DATA[8]"					LOC = "L11";
NET  "RF_DAC_Q_DATA[7]"					LOC = "J11";
NET  "RF_DAC_Q_DATA[6]"					LOC = "H9";
NET  "RF_DAC_Q_DATA[5]"					LOC = "C12";
NET  "RF_DAC_Q_DATA[4]"					LOC = "J9";
NET  "RF_DAC_Q_DATA[3]"					LOC = "C13";
NET  "RF_DAC_Q_DATA[2]"					LOC = "J21"; ### FPGA 2.5V out to DAC 3.3V input pin, it should work
NET  "RF_DAC_Q_DATA[1]"					LOC = "L28";
NET  "RF_DAC_Q_DATA[0]"					LOC = "AE32";
NET  "RF_DAC_PLLLOCK"					LOC = "G12";
NET  "RF_DAC_I_DATA[15]"				LOC = "T29";
NET  "RF_DAC_I_DATA[14]"				LOC = "R31";
NET  "RF_DAC_I_DATA[13]"				LOC = "M33";
NET  "RF_DAC_I_DATA[12]"				LOC = "M32";
NET  "RF_DAC_I_DATA[11]"				LOC = "L31";
NET  "RF_DAC_I_DATA[10]"				LOC = "K32";
NET  "RF_DAC_I_DATA[9]"					LOC = "F34";
NET  "RF_DAC_I_DATA[8]"					LOC = "E34";
NET  "RF_DAC_I_DATA[7]"					LOC = "J19"; ### FPGA 2.5V out to DAC 3.3V input pin, it should work
NET  "RF_DAC_I_DATA[6]"					LOC = "H33";
NET  "RF_DAC_I_DATA[5]"					LOC = "H32";
NET  "RF_DAC_I_DATA[4]"					LOC = "E33";
NET  "RF_DAC_I_DATA[3]"					LOC = "D32";
NET  "RF_DAC_I_DATA[2]"					LOC = "A33";
NET  "RF_DAC_I_DATA[1]"					LOC = "C33";
NET  "RF_DAC_I_DATA[0]"					LOC = "D34";
#NET  "RF_RSSI_SLEEP"					LOC = "";  ### not connected
#NET  "RF_RSSI_OTR"					LOC = "";  ### not connected
#NET  "RF_RSSI_HIZ"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[9]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[8]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[7]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[6]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[5]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[4]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[3]"					LOC = "";  ### not connected
#NET  "RF_RSSI_DATA[2]"					LOC = "";  ### not connected
##NET  "RF_RSSI_DATA[1]"					LOC = "";    ### ADC 3.3V data out to FPGA 2.5V input pin, it should work
#NET  "RF_RSSI_DATA[0]"					LOC = "";  ### not connected
#NET  "RF_RSSI_CLK"					LOC = "";  ### not connected
#NET  "RF_RSSI_CLAMP"					LOC = "";  ### not connected
NET  "RF_RADIO_TXEN"					LOC = "M30";
NET  "RF_RADIO_RXEN"					LOC = "T6";
NET  "RF_RADIO_SHDN_N"					LOC = "P7";
NET  "RF_RADIO_RXHP"					LOC = "R6";
NET  "RF_RADIO_SPI_SDI"					LOC = "J31";
NET  "RF_RADIO_SPI_CSB"					LOC = "J29";
NET  "RF_RADIO_SPI_CLK"					LOC = "F29";
NET  "RF_RADIO_LD"					LOC = "P31";
NET  "RF_RADIO_GAIN[6]"					LOC = "K7";
NET  "RF_RADIO_GAIN[5]"					LOC = "K6";
NET  "RF_RADIO_GAIN[4]"					LOC = "M6";
NET  "RF_RADIO_GAIN[3]"					LOC = "M5";
NET  "RF_RADIO_GAIN[2]"					LOC = "L4";
NET  "RF_RADIO_GAIN[1]"					LOC = "L5";
NET  "RF_RADIO_GAIN[0]"					LOC = "N5";
NET  "RF_LED[2]"					LOC = "H27";
NET  "RF_LED[1]"					LOC = "E26";
NET  "RF_LED[0]"					LOC = "E27";
NET  "RF_CLK_N"						LOC = "W9";
NET  "RF_CLK_P"						LOC = "W10";
#NET  "RF_DIPSW[3]"					LOC = "";
#NET  "RF_DIPSW[2]"					LOC = "";
#NET  "RF_DIPSW[1]"					LOC = "";
#NET  "RF_DIPSW[0]"					LOC = "";
NET  "RF_ANTSW[1]"					LOC = "G26";
NET  "RF_ANTSW[0]"					LOC = "G25";
NET  "RF_ADC_PWDNA"					LOC = "H25";
NET  "RF_ADC_PWDNB"					LOC = "J7";
NET  "RF_ADC_OTRA"					LOC = "H24";
NET  "RF_ADC_OTRB"					LOC = "G28";
NET  "RF_ADC_DFS"					LOC = "H7";
NET  "RF_ADC_DCS"					LOC = "P6";
NET  "RF_ADC_DATA_B[13]"				LOC = "U28";
NET  "RF_ADC_DATA_B[12]"				LOC = "T24";
NET  "RF_ADC_DATA_B[11]"				LOC = "K26";
NET  "RF_ADC_DATA_B[10]"				LOC = "J26";
NET  "RF_ADC_DATA_B[9]"					LOC = "K14";
NET  "RF_ADC_DATA_B[8]"					LOC = "R27";
NET  "RF_ADC_DATA_B[7]"					LOC = "F28";
NET  "RF_ADC_DATA_B[6]"					LOC = "H22";
NET  "RF_ADC_DATA_B[5]"					LOC = "G16"; ### ADC 3.3V data out to FPGA 2.5V input pin, it should work
NET  "RF_ADC_DATA_B[4]"					LOC = "AJ6";
NET  "RF_ADC_DATA_B[3]"					LOC = "AG7";
NET  "RF_ADC_DATA_B[2]"					LOC = "U8";
NET  "RF_ADC_DATA_B[1]"					LOC = "AF6";
NET  "RF_ADC_DATA_B[0]"					LOC = "V9";
NET  "RF_ADC_DATA_A[13]"				LOC = "J25";
NET  "RF_ADC_DATA_A[12]"				LOC = "N30";
NET  "RF_ADC_DATA_A[11]"				LOC = "M26";
NET  "RF_ADC_DATA_A[10]"				LOC = "E13";
NET  "RF_ADC_DATA_A[9]"					LOC = "G13";
NET  "RF_ADC_DATA_A[8]"					LOC = "N9";
NET  "RF_ADC_DATA_A[7]"					LOC = "L9";
NET  "RF_ADC_DATA_A[6]"					LOC = "P24";
NET  "RF_ADC_DATA_A[5]"					LOC = "L18"; ### ADC 3.3V data out to FPGA 2.5V input pin, it should work
NET  "RF_ADC_DATA_A[4]"					LOC = "M27";
NET  "RF_ADC_DATA_A[3]"					LOC = "P27";
NET  "RF_ADC_DATA_A[2]"					LOC = "N25";
NET  "RF_ADC_DATA_A[1]"					LOC = "T25";
NET  "RF_ADC_DATA_A[0]"					LOC = "T26";
NET  "RF_5PA_EN_N"					LOC = "F25";
NET  "RF_24PA_EN_N"					LOC = "F26";

################################################################################
# I/O STANDARDS for DDR2
################################################################################
NET  "DDR2_DQ[*]"                                    IOSTANDARD = SSTL18_II;
NET  "DDR2_A[*]"                                     IOSTANDARD = SSTL18_II;
NET  "DDR2_BA[*]"                                    IOSTANDARD = SSTL18_II;
NET  "DDR2_RAS_N"                                    IOSTANDARD = SSTL18_II;
NET  "DDR2_CAS_N"                                    IOSTANDARD = SSTL18_II;
NET  "DDR2_WE_N"                                     IOSTANDARD = SSTL18_II;
#NET  "DDR2_RESET_N"                                  IOSTANDARD = LVCMOS25;
NET  "DDR2_CS_N"                                     IOSTANDARD = SSTL18_II;
NET  "DDR2_ODT"                                      IOSTANDARD = SSTL18_II;
NET  "DDR2_CKE"                                      IOSTANDARD = SSTL18_II;
NET  "DDR2_DM[*]"                                    IOSTANDARD = SSTL18_II;
NET  "SYS_CLK_P"                                     IOSTANDARD = LVDS_25; 
NET  "SYS_CLK_N"                                     IOSTANDARD = LVDS_25; 
NET  "CLK200_P"                                      IOSTANDARD = LVDS_25;
NET  "CLK200_N"                                      IOSTANDARD = LVDS_25;
NET  "DDR2_DQS[*]"                              IOSTANDARD = DIFF_SSTL18_II_DCI;
NET  "DDR2_DQS_N[*]"                            IOSTANDARD = DIFF_SSTL18_II_DCI;
NET  "DDR2_CK[*]"                               IOSTANDARD = DIFF_SSTL18_II;
NET  "DDR2_CK_N[*]"                             IOSTANDARD = DIFF_SSTL18_II;

################################################################################
# Location Constraints for DDR2
################################################################################
NET  "DDR2_DQ[0]"                                     LOC = "W24" ; #Bank 12
NET  "DDR2_DQ[1]"                                     LOC = "V24" ; #Bank 12
NET  "DDR2_DQ[2]"                                     LOC = "Y26" ; #Bank 12
NET  "DDR2_DQ[3]"                                     LOC = "W26" ; #Bank 12
NET  "DDR2_DQ[4]"                                     LOC = "V25" ; #Bank 12
NET  "DDR2_DQ[5]"                                     LOC = "W25" ; #Bank 12
NET  "DDR2_DQ[6]"                                     LOC = "Y27" ; #Bank 12
NET  "DDR2_DQ[7]"                                     LOC = "W27" ; #Bank 12
NET  "DDR2_DQ[8]"                                     LOC = "V28" ; #Bank 12
NET  "DDR2_DQ[9]"                                     LOC = "V27" ; #Bank 12
NET  "DDR2_DQ[10]"                                    LOC = "W31" ; #Bank 12
NET  "DDR2_DQ[11]"                                    LOC = "Y31" ; #Bank 12
NET  "DDR2_DQ[12]"                                    LOC = "W29" ; #Bank 12
NET  "DDR2_DQ[13]"                                    LOC = "V29" ; #Bank 12
NET  "DDR2_DQ[14]"                                    LOC = "Y28" ; #Bank 12
NET  "DDR2_DQ[15]"                                    LOC = "Y29" ; #Bank 12
NET  "DDR2_DQ[16]"                                    LOC = "AC29"; #Bank 12
NET  "DDR2_DQ[17]"                                    LOC = "AF31"; #Bank 12
NET  "DDR2_DQ[18]"                                    LOC = "AJ31"; #Bank 12
NET  "DDR2_DQ[19]"                                    LOC = "AK31"; #Bank 12
NET  "DDR2_DQ[20]"                                    LOC = "AF29"; #Bank 12
NET  "DDR2_DQ[21]"                                    LOC = "AF30"; #Bank 12
NET  "DDR2_DQ[22]"                                    LOC = "AJ30"; #Bank 12
NET  "DDR2_DQ[23]"                                    LOC = "AH30"; #Bank 12
NET  "DDR2_DQ[24]"                                    LOC = "AA25"; #Bank 18
NET  "DDR2_DQ[25]"                                    LOC = "AA26"; #Bank 18
NET  "DDR2_DQ[26]"                                    LOC = "AB27"; #Bank 18
NET  "DDR2_DQ[27]"                                    LOC = "AC27"; #Bank 18
NET  "DDR2_DQ[28]"                                    LOC = "Y24"; #Bank 18
NET  "DDR2_DQ[29]"                                    LOC = "AA24"; #Bank 18
NET  "DDR2_DQ[30]"                                    LOC = "AB25"; #Bank 18
NET  "DDR2_DQ[31]"                                    LOC = "AB26"; #Bank 18
NET  "DDR2_DQ[32]"                                    LOC = "AB28"; #Bank 18
NET  "DDR2_DQ[33]"                                    LOC = "AA28"; #Bank 18
NET  "DDR2_DQ[34]"                                    LOC = "AG28"; #Bank 18
NET  "DDR2_DQ[35]"                                    LOC = "AH28"; #Bank 18
NET  "DDR2_DQ[36]"                                    LOC = "AK26"; #Bank 18
NET  "DDR2_DQ[37]"                                    LOC = "AF28"; #Bank 18
NET  "DDR2_DQ[38]"                                    LOC = "AE28"; #Bank 18
NET  "DDR2_DQ[39]"                                    LOC = "AJ27"; #Bank 18
NET  "DDR2_DQ[40]"                                    LOC = "AG25"; #Bank 18
NET  "DDR2_DQ[41]"                                    LOC = "AG27"; #Bank 18
NET  "DDR2_DQ[42]"                                    LOC = "AE27"; #Bank 18
NET  "DDR2_DQ[43]"                                    LOC = "AE26"; #Bank 18
NET  "DDR2_DQ[44]"                                    LOC = "AC25"; #Bank 18
NET  "DDR2_DQ[45]"                                    LOC = "AC24"; #Bank 18
NET  "DDR2_DQ[46]"                                    LOC = "AD26"; #Bank 18
NET  "DDR2_DQ[47]"                                    LOC = "AD25"; #Bank 18
NET  "DDR2_DQ[48]"                                    LOC = "AN14"; #Bank 20
NET  "DDR2_DQ[49]"                                    LOC = "AP14"; #Bank 20
NET  "DDR2_DQ[50]"                                    LOC = "AB10"; #Bank 20
NET  "DDR2_DQ[51]"                                    LOC = "AA10"; #Bank 20
NET  "DDR2_DQ[52]"                                    LOC = "AN13"; #Bank 20
NET  "DDR2_DQ[53]"                                    LOC = "AM13"; #Bank 20
NET  "DDR2_DQ[54]"                                    LOC = "AA8"; #Bank 20
NET  "DDR2_DQ[55]"                                    LOC = "AA9"; #Bank 20
NET  "DDR2_DQ[56]"                                    LOC = "AC8"; #Bank 20
NET  "DDR2_DQ[57]"                                    LOC = "AB8"; #Bank 20
NET  "DDR2_DQ[58]"                                    LOC = "AM12"; #Bank 20
NET  "DDR2_DQ[59]"                                    LOC = "AM11"; #Bank 20
NET  "DDR2_DQ[60]"                                    LOC = "AC10"; #Bank 20
NET  "DDR2_DQ[61]"                                    LOC = "AC9";  #Bank 20
NET  "DDR2_DQ[62]"                                    LOC = "AK9"; #Bank 20
NET  "DDR2_DQ[63]"                                    LOC = "AF9"; #Bank 20
NET  "DDR2_A[12]"                                     LOC = "AH19"; #Bank 18
NET  "DDR2_A[11]"                                     LOC = "AH20"; #Bank 18
NET  "DDR2_A[10]"                                     LOC = "AG15"; #Bank 18
NET  "DDR2_A[9]"                                      LOC = "AH15"; #Bank 20
NET  "DDR2_A[8]"                                      LOC = "AG20"; #Bank 20
NET  "DDR2_A[7]"                                      LOC = "AG16"; #Bank 20
NET  "DDR2_A[6]"                                      LOC = "AH17"; #Bank 22
NET  "DDR2_A[5]"                                      LOC = "AH22"; #Bank 22
NET  "DDR2_A[4]"                                      LOC = "AG22"; #Bank 22
NET  "DDR2_A[3]"                                      LOC = "AG17"; #Bank 22
NET  "DDR2_A[2]"                                      LOC = "AH18"; #Bank 22
NET  "DDR2_A[1]"                                      LOC = "AF18"; #Bank 22
NET  "DDR2_A[0]"                                      LOC = "AE18"; #Bank 22
NET  "DDR2_BA[1]"                                     LOC = "AH13"; #Bank 22
NET  "DDR2_BA[0]"                                     LOC = "AH14"; #Bank 22
NET  "DDR2_RAS_N"                                     LOC = "AG13"; #Bank 22
NET  "DDR2_CAS_N"                                     LOC = "AH12"; #Bank 22
NET  "DDR2_WE_N"                                      LOC = "AF19"; #Bank 22
#NET  "DDR2_RESET_N"                                   LOC = "U7";   #Bank 22 output signal
NET  "DDR2_CS_N"                                      LOC = "AG18"; #Bank 22
NET  "DDR2_ODT"                                       LOC = "AG30"; #Bank 22
NET  "DDR2_CKE"                                       LOC = "AG8"; #Bank 22
NET  "DDR2_DM[0]"                                     LOC = "V30"; #Bank 12
NET  "DDR2_DM[1]"                                     LOC = "AD30"; #Bank 12
NET  "DDR2_DM[2]"                                     LOC = "AH29"; #Bank 12
NET  "DDR2_DM[3]"                                     LOC = "AC28"; #Bank 18
NET  "DDR2_DM[4]"                                     LOC = "AF24"; #Bank 18
NET  "DDR2_DM[5]"                                     LOC = "AD24"; #Bank 18
NET  "DDR2_DM[6]"                                     LOC = "AP12"; #Bank 20
NET  "DDR2_DM[7]"                                     LOC = "AJ9"; #Bank 20
NET  "DDR2_DQS[0]"                                    LOC = "AB31"; #Bank 12
NET  "DDR2_DQS_N[0]"                                  LOC = "AA31"; #Bank 12
NET  "DDR2_DQS[1]"                                    LOC = "AB30"; #Bank 12
NET  "DDR2_DQS_N[1]"                                  LOC = "AC30"; #Bank 12
NET  "DDR2_DQS[2]"                                    LOC = "AA29"; #Bank 12
NET  "DDR2_DQS_N[2]"                                  LOC = "AA30"; #Bank 12
NET  "DDR2_DQS[3]"                                    LOC = "AK29"; #Bank 18
NET  "DDR2_DQS_N[3]"                                  LOC = "AJ29"; #Bank 18
NET  "DDR2_DQS[4]"                                    LOC = "AK28"; #Bank 18
NET  "DDR2_DQS_N[4]"                                  LOC = "AK27"; #Bank 18
NET  "DDR2_DQS[5]"                                    LOC = "AH27"; #Bank 18
NET  "DDR2_DQS_N[5]"                                  LOC = "AJ26"; #Bank 18
NET  "DDR2_DQS[6]"                                    LOC = "AD10"; #Bank 20
NET  "DDR2_DQS_N[6]"                                  LOC = "AD11"; #Bank 20
NET  "DDR2_DQS[7]"                                    LOC = "AK11"; #Bank 20
NET  "DDR2_DQS_N[7]"                                  LOC = "AJ11"; #Bank 20
NET  "DDR2_CK[0]"                                     LOC = "AH9" ; #Bank 12
NET  "DDR2_CK_N[0]"                                   LOC = "AH10" ; #Bank 12
NET  "DDR2_CK[1]"                                     LOC = "AG10" ; #Bank 12
NET  "DDR2_CK_N[1]"                                   LOC = "AG11" ; #Bank 12

###################################################
##  Floorplanned location constrains - non-I/O
###################################################
#temp
# PLL specification LOCs 
INST "ddr2_cntrl_inst/u_infrastructure/u_dcm_base" LOC = DCM_ADV_X0Y6;

##Floorplan some of the blockrams

#Egress fifo BRAMS
##AREA_GROUP "pblock_egress_fifos" RANGE=RAMB36_X0Y6:RAMB36_X0Y11;
##INST "dma_ddr2_if_inst/egress_fifo_wrapper_inst/egress_fifo_a" AREA_GROUP = "pblock_egress_fifos";
##INST "dma_ddr2_if_inst/egress_fifo_wrapper_inst/egress_fifo_b" AREA_GROUP = "pblock_egress_fifos";

#Ingress fifo BRAMS
#INST "dma_ddr2_if_inst/ingress_fifo_a"  LOC = "RAMB36_X0Y3";
#INST "dma_ddr2_if_inst/ingress_fifo_b"  LOC = "RAMB36_X0Y4";

#temp
#DDR2 controller fifo BRAMS
INST "ddr2_cntrl_inst/u_ddr2_top_0/u_mem_if_top_0/u_usr_top_0/u_backend_fifos_0/gen_wdf[1].u_usr_wr_fifo/u_wdf"  LOC = "RAMB36_X0Y2";
INST "ddr2_cntrl_inst/u_ddr2_top_0/u_mem_if_top_0/u_usr_top_0/u_backend_fifos_0/gen_wdf[0].u_usr_wr_fifo/u_wdf"  LOC = "RAMB36_X0Y5";
INST "ddr2_cntrl_inst/u_ddr2_top_0/u_mem_if_top_0/u_usr_top_0/u_backend_fifos_0/u_usr_addr_fifo_0/u_af"  LOC = "RAMB36_X0Y7";

#RX Engine fifo BRAMS
INST "pcie_dma_wrapper_inst/rx_engine_inst/data_trn_mem_fifo_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[3].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP"  LOC = "RAMB36_X1Y4";
INST "pcie_dma_wrapper_inst/rx_engine_inst/data_trn_mem_fifo_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[2].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP"  LOC = "RAMB36_X1Y3";
INST "pcie_dma_wrapper_inst/rx_engine_inst/data_trn_mem_fifo_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP"  LOC = "RAMB36_X1Y1";
INST "pcie_dma_wrapper_inst/rx_engine_inst/data_trn_mem_fifo_inst/BU2/U0/grf.rf/mem/gbm.gbmg.gbmga.ngecc.bmg/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v5_noinit.ram/SDP.SINGLE_PRIM36.TDP"  LOC = "RAMB36_X1Y2";

#temp
# PlanAhead generated physical constraints 
AREA_GROUP "pblock_r6_mem_cntrl" RANGE=SLICE_X12Y0:SLICE_X49Y9, 
                                       SLICE_X0Y0:SLICE_X11Y49, 
                                       SLICE_X12Y30:SLICE_X23Y44;
AREA_GROUP "pblock_r6_mem_cntrl" RANGE=RAMB36_X0Y0:RAMB36_X0Y9, 
                                       RAMB36_X1Y0:RAMB36_X1Y1;
INST "ddr2_cntrl_inst" AREA_GROUP = "pblock_r6_mem_cntrl";

#AREA_GROUP "pblock_dma_ctrl_wrapper" RANGE=SLICE_X0Y50:SLICE_X19Y89;
AREA_GROUP "pblock_dma_ctrl_wrapper" RANGE=SLICE_X0Y50:SLICE_X25Y95;
INST "pcie_dma_wrapper_inst/dma_ctrl_wrapper_inst" AREA_GROUP = "pblock_dma_ctrl_wrapper";
